/* teaching-theme.css */

@import 'base-theme.css';

:root {
  --r-background-color: var(--opengisch-dark);
  --opengisch-softgreen: #b2e07e;
  --geowerkstatt-softblue: #5aa1c9;
}

/* Slide-specific vertical centering override */
.reveal .slides section[data-vertical-align-top] {
  top: 0 !important;
}

h1,
h2{
  color: var(--geowerkstatt-softblue) !important;
  text-align: left !important;
}

h3,
h4,
h5,
h6{
  color: var(--opengisch-softgreen) !important;
  text-align: left !important;
}

h4,h5,h6{
  text-transform: none !important;
}

code {
    color: rgba(255, 255, 255, 0.87) !important;
    font-size: 1.7em !important;
    line-height: 1.2em !important;
    background-color: rgba(0, 0, 0, 0.726) !important;
    align-self: left !important;
}

p,
ul,
tr,
td,
div {
  color: var(--opengisch-softgreen) !important;
  text-align: left !important;
}
li {
  margin-top: 0.5em !important;
}

body:before {
  content: url(./geowerkstatt.png);
  position: fixed;
  bottom: -0.5em;
  left: -6em;
  z-index: -1;
  opacity: 15%;
}
